@import "tailwindcss";

@theme {
  --color-primary: #242a2b;
  --color-secondary: #808080;
  --color-accent: #1cbccf;
  --color-accent-secondary: #18abbc;
  --color-accent-tertiary: #90c6cd;
  --color-grey: #e8f0f1;
  
  --font-primary: Poppins, sans-serif;
  
  --breakpoint-lg: 60rem;
  --breakpoint-xl: 83.125rem;
  
  --shadow-custom1: 0 2px 40px 0px rgba(8, 70, 78, 0.08);
  --shadow-custom2: 0 0px 30px 0px rgba(8, 73, 80, 0.06);
  
  --spacing-2-5: 10px;
  --spacing-6-5: 26px;
  --spacing-12-5: 50px;
  --spacing-203-5: 814px;
}

body {
    @apply text-secondary font-primary text-[17px] leading-8;
}

h1, h2, h3, h4, h5, h6 {
    @apply text-primary leading-[120%];
}

.h1 {
    @apply text-[36px] xl:text-[64px] font-semibold;
}

.h2 {
    @apply text-[30px] xl:text-[44px] font-semibold capitalize tracking-[0.44px];
}

.h3 {
    @apply text-[20px] xl:text-[26px] font-semibold;
}

.h4 {
    @apply text-[20px] xl:text-[26px] font-semibold capitalize;
}

.btn {
    @apply rounded-full uppercase tracking-[1.02px] flex items-center justify-center transition-all;
}

.btn-sm {
    @apply h-14 px-10;
}

.btn-lg {
    @apply h-16 px-12.5;
}

.btn-accent {
    @apply bg-accent text-white hover:bg-accent-secondary;
}

.btn-white {
    @apply bg-white text-secondary hover:bg-white/90;
}

.btn-outline {
    @apply bg-transparent border-2 border-accent text-secondary hover:bg-accent hover:border-transparent;
}

.input, .select {
    @apply w-full rounded-[10px] h-[66px] outline-none border border-[#dbdfdf] text-secondary font-light placeholder:font-light placeholder:text-secondary;
}

.input {
    @apply px-4;
}

.section {
    @apply py-12 xl:py-[150px];
}

/* swiper bullets */
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets,
.swiper-pagination-bullet {
    @apply bg-accent;
}

/* services background */
.bg-services {
    background-image: url('../assets/img/services/bg.svg');
}
.bg-testimonials {
    background-image: url('../assets/img/testimonials/bg.svg');
}

/* faq */
.faq__items.opens .faq__answer {
    @apply h-full;
}

